<div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="../../../../assets/fruitjuice.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Innocent Orange</h4>
          <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim </p>
          <span class="button is-link modal-button" data-target="modal-image2">Image modal</span>
        </div>
      </div>
    </div>
  </div>