<div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="../../../../assets/fruitjuice.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>Innocent Orange</h4>
          <p>Taste:</p>
          <progress class="progress is-primary" value="15" max="100">15%</progress>
          <p>Price:</p>
          <progress class="progress is-primary" value="40" max="100">10%</progress>
          <p>Look & Feel:</p>
          <progress class="progress is-primary" value="68" max="100">68%</progress>
          <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim </p>

          <br>
          <span class="button is-link modal-button is-fullwidth is-outlined" data-target="modal-image2">Sam Bowen</span>
          <br>
          
        </div>
      </div>
    </div>
  </div>