<div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image drink-image">
          <img src="{{juice.image}}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>{{juice.name}}</h4>
          <p>Taste:</p>
          <progress class="progress is-primary" value="{{juice.taste}}" max="100" [ngClass]="{'is-danger': juice.taste < 30, 'is-warning': juice.taste < 65, 'is-primary' : juice.taste > 65}">15%</progress>
          <p>Price:</p>
          <progress class="progress is-primary" value="{{juice.price}}" max="100" [ngClass]="{'is-danger': juice.price < 30, 'is-warning': juice.price < 65, 'is-primary' : juice.price > 65}">10%</progress>
          <p>Look & Feel:</p>
          <progress class="progress is-primary" value="{{juice.lookAndFeel}}" max="100" [ngClass]="{'is-danger': juice.lookAndFeel < 30, 'is-warning': juice.lookAndFeel < 65, 'is-primary' : juice.lookAndFeel > 65}">68%</progress>
          <p>{{juice.notes}} </p>

          <br>
          <span class="button is-link modal-button is-fullwidth is-outlined" data-target="modal-image2">Sam Bowen</span>
          <br>
          
        </div>
      </div>
    </div>
  </div>