<a class="button button-menu is-large is-pulled-right" (click)="toggleModal()">
    <span class="icon is-large">
        <i class="fas fa-wine-glass-alt"></i>
    </span>
</a>    

<div class="modal" [ngClass]="{'is-active': modalActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head header-background">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
            Taste:<progress class="progress is-primary" value="40" max="100">10%</progress>
        </div>
        <div class="field">
          <input class="input" type="number" placeholder="How did the drink taste?">
      </div>
        <div class="field">
            Price:<progress class="progress is-primary" value="40" max="100">10%</progress>
        </div>
        <div class="field">
          <input class="input" type="number" placeholder="How well priced was the drink?">
      </div>
      <div class="field">
          Look and feel:<progress class="progress is-primary" value="40" max="100">10%</progress>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="How well packaged was the drink?">
    </div>
    <hr>
    
      <div class="field">
        <div class="file is-centered has-name is-info">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Upload Pic
                </span>
              </span>
              <span class="file-name">
                Take a picture of the drink you are reviewing
              </span>
            </label>
          </div>
        </div>
        <hr>

        <div class="field">
            Look and feel:<textarea class="textarea" placeholder="Please add any other feelings you have about this drink"></textarea>
        </div>

        <div class="field">
          Who reviewed this drink?
          <div class="control">
            <div class="select is-fullwidth">
              <select>
                <option>Not a member</option>
                <option>Sam Bowen-Hughes</option>
                <option>Maher Dulayymi</option>
              </select>
            </div>
          </div>  
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot footer-background">
          <!-- <div class="control"> -->
            <button class="button is-primary is-fullwidth" (click)="toggleModal()">Review Drink</button>
          <!-- </div> -->
      </footer>
    </div>
  </div>  

