<app-navbar></app-navbar>
<div class="yellow-banner"></div>
<div>
  <app-menu></app-menu>
  <body>
    <section class="hero is-info is-small">
          <div class="hero-body">
            <div class="container has-text-centered">
              <p class="title">
                Rate your Juices
              </p>
              <p class="subtitle">
                Subtitle
              </p>
            </div>
          </div>
        </section>
        <br>
        <div class="container cta">
            <div class="columns">
              <div class="column is-one-third">
                  <label class="control">
                      <input type="text" class="input subtitle is-4" placeholder="Filter..." [(ngModel)]="filter" >
                  </label>
                </div>
              <div class="column auto  margin-auto">
                  <label class="control">
                    <p class="subtitle is-pulled-right is-hidden-touch">Juice Reviews: <strong>{{juices?.length}}</strong></p>
                    <p class="subtitle has-text-centered is-hidden-desktop">Juice Reviews: <strong>{{juices?.length}}</strong></p>
                 </label>
              </div>
          </div>
        </div>
    <section class="container">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let juice of juices | stringFilter : filter">
            <app-juice-card [juice]="juice"></app-juice-card>
          </div>
        </div>
      </section>
  </body>
</div>
