<app-navbar></app-navbar>
<div>
  <app-menu></app-menu>
  <body>
    <section class="hero is-info is-small">
          <div class="hero-body">
            <div class="container has-text-centered">
              <p class="title">
                Rate your Juices
              </p>
              <p class="subtitle">
                Subtitle
              </p>
            </div>
          </div>
        </section>
        <br>
        <div class="box cta">
            <p class="has-text-centered">
              <span class="tag is-primary">New</span> Here we have modal cards. When
              you click on them they will open functional modal examples.
            </p>
        </div>
    <section class="container">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let juice of juices">
            <app-juice-card></app-juice-card>
          </div>
        </div>
      </section>
  </body>
</div>
