.hero {
    background-image: url("../../../../assets/banner2.svg"); 
    background-color: #cccccc; 
    height: 105px;
    background-size: cover;
  }

  .hero-desktop {
    background-image: url("../../../../assets/banner2.svg"); 
    background-color: #cccccc; 
    height: 200px;
    background-size: cover;
  }