<section class="hero is-primary is-hidden-desktop">
  <div class="hero-body">
    <div class="container">
      <div class="navbar-brand is-pulled-right">
        <a class="navbar-item">
          <!-- <img src="../../../../assets/logo.png" alt="TODO: add alt" width="112" height="8"> -->
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hero-desktop is-primary is-hidden-mobile ">
    <div class="hero-body">
      <div class="container">
        <div class="navbar-brand is-pulled-right">
          <a class="navbar-item">
            <!-- <img src="../../../../assets/logo.png" alt="TODO: add alt" width="112" height="8"> -->
          </a>
        </div>
      </div>
    </div>
  </section>